* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #141111;
  line-height: 1.5;
  font-size: 18px;
  margin: 0;
}
ul,
p,
h1 {
  margin: 0;
}
li {
  list-style: none;
}
button {
  display: block;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  background-color: #a7a2a2;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  padding: 7px 15px;
  cursor: pointer;
  font-size: 13px;
}
button:hover,
button:focus {
  background-color: #837b7b;
}

#search-form {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: rgb(238, 226, 226);
}
input {
  border: 1px solid #a7a2a2;
  border-radius: 6px;
  padding: 7px;
  width: 300px;
  margin-right: 10px;
  outline: none;
  color: #1c1919;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.photo-card {
  flex-basis: calc((100% - 200px) / 4);
  margin: 10px;
  box-shadow: 1px 3px 5px rgb(194, 188, 188);}
.gallery-img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.photo-card img {
  display: block;
  height: 100%;
  width: 100%;
}
.info {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  border-radius: 0 0 5px 5px;

}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.load-more {
margin: 0 auto;  
font-size: 20px;
}
.load-more.hidden{
 display: none;
}
.load-more:disabled{
  color: #ccc5c5;
  background-color: rgb(224, 222, 222);
  cursor: none;
}